node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next
out
build
coverage

.git
.gitignore
.gitattributes

.env
.env.*
!.env.schema

.vscode
.idea
.DS_Store

.vercel
.convoy
.claude

README.md
*.md
docs

book_import_checkpoint.json
author_import_checkpoint.json
thumbhash_update_checkpoint.json
